:root {
    --vp-c-default-soft: #bbb3;
    --vp-c-brand-1: #06d;
    --vp-c-brand-2: #003da5;
    --vp-c-brand-3: #07f;
    --vp-c-brand-soft: #07f3;
}

.dark:root {
    --vp-c-brand-1: #3af;
    --vp-c-brand-2: #7cf;

    /* --vp-c-brand-soft: #33aaff55; */
}

.vp-doc {
    position: relative;
    counter-reset: section-counter;
}

.vp-doc h2 {
    position: relative;
    counter-increment: section-counter;
}

.vp-doc h2::before {
    content: counter(section-counter);
    position: absolute;
    left: -2rem;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: transparent;
    z-index: -1;
    -webkit-text-stroke: 2px var(--vp-c-divider);
}

.vp-doc h2::after {
    content: "西邮 Wiki";
    position: absolute;
    right: 0;
    color: var(--vp-c-divider);
}

.vp-doc h3::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    background: url("/logo.svg") no-repeat;
    vertical-align: middle;
}

.fa-solid,
.fa-regular,
.fa-brands {
    width: 1.3em;
    vertical-align: middle;
    text-align: center;
}

iframe {
    width: 100%;
    border: none;
}