/* stylelint-disable selector-class-pattern */
.VPMenuGroup > .title {
    font-size: 0.7em;
}

.VPSwitch > .check {
    bottom: 1px;
    width: auto;
    height: auto;
    aspect-ratio: 1;
}

.vp-doc > div > :where(h4, h5, h6) {
    margin: 1.4em 0 0.5em;
}

.vp-doc a {
    background: linear-gradient(var(--vp-c-brand-soft), var(--vp-c-brand-soft)) no-repeat center bottom / 100% 2px;
    text-decoration: none;
    transition: 0.2s;
}

.vp-doc a:hover {
    border-radius: 0.2em;
    background: linear-gradient(var(--vp-c-brand-soft), var(--vp-c-brand-soft)) no-repeat center bottom / 100% 100%;
}

.vp-doc strong {
    background: linear-gradient(var(--vp-c-brand-soft), var(--vp-c-brand-soft)) no-repeat center bottom / 100% 40%;
}

.vp-doc s {
    opacity: 0.6;
}

.VPBadge {
    padding: 0.2em 0.6em;
    font-size: 0.8em;
    line-height: normal;
    vertical-align: text-bottom;
    transform: none;
}
